//- views/layout.pug
doctype html
html
  head
    title= title || 'Eporia Player'
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    
    //- Global CSS
    link(rel='stylesheet' href='/stylesheets/playerStyle.css')
    link(rel="stylesheet", href="/stylesheets/rightSideBar.css")
    link(rel='stylesheet' href='/stylesheets/profile.css')
    link(rel='stylesheet' href='/stylesheets/artistProfile.css')
    link(rel='stylesheet' href='/stylesheets/workbench.css')
    link(rel="stylesheet", href="/stylesheets/crate_view.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css")

  body
    //- [NEW] MOBILE BLOCKER (Shown only on small screens via CSS)
    #mobile-block-msg
        i.fas.fa-desktop
        h2 Desktop Only
        p We're building a dedicated mobile app for the best experience. For now, please use Eporia on your computer.

    //- 1. LEFT SIDEBAR
    include partials/left_sidebar

    //- 2. MAIN CONTENT WRAPPER
    .main-wrapper
      block content

    //- 3. RIGHT SIDEBAR
    include partials/right_sidebar

    //- SCRIPTS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js")
    script(type="module" src="/javascripts/enhancedPlayer.js")