doctype html
html(lang="en")
  head
    title Sign In | Eporia
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    
    //- Import Styles
    link(rel='stylesheet', href='/stylesheets/playerStyle.css')
    link(rel='stylesheet', href='/stylesheets/auth.css')

  body
    //- Auth Check Spinner (shows while checking if user is logged in)
    #authCheckSpinner.auth-checking
      .auth-checking-spinner

    //- NAV
    nav.simple-nav
      .nav-left
        a.back-link(href="/") 
          i.fas.fa-arrow-left
          span Back Home
      .nav-center
        span.logo-text Eporia
      .nav-right
        //- Spacer

    //- Wrapper hidden initially (shown by JS after auth check)
    .auth-wrapper
      .auth-container
        .signin-container
          .step-header
            h1 Welcome Back
            p Sign in to access your collection.

          div#errorMsg.error-banner Invalid credentials.

          //- LOGIN FORM
          form#loginForm
            .input-group
              label.label Email
              input.studio-input(type="email" id="email" required placeholder="name@example.com")
            
            .input-group
              label.label Password
              input.studio-input(type="password" id="password" required placeholder="••••••••")

            button.btn-full(type="submit" id="submitBtn") Sign In

          //- Recaptcha
          div#recaptcha-container

          .footer-link
            span New here? 
            a.link-highlight(href="/members/signup") Create an account

    //- At the very bottom of signin.pug
    div(id="pageData" data-auto-logout=(autoLogout ? 'true' : 'false'))

    script(type="module" src="/javascripts/signin.js")
    
    //- Apply Dark Mode if saved preference exists
    script.
      if (localStorage.getItem('theme') === 'dark') document.body.classList.add('dark-theme');
